[Unit]
Description=Temperature web service
After=network.target

[Service]
ExecStart=FLASK_APP=app.py /usr/local/bin/flask run --host=0.0.0.0 --port=80
WorkingDirectory=/home/pi/raspberrypi_temperature
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target